<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape_mars" role="button">Scrape New Data</a></p>
    </div>
  <div class="col-md-6">
    <h2>Latest Mars News</h2>
   
    <h4>{{ mars_html.news_title }}</h4>
    <h5>{{ mars_html.news_p }}</h5>
    <h2>Featured Mars Image</h2>
    <img src="{{ mars_html.featured_image_url }}" alt="Featured Image"> 
</div>
    <div>
      {{ mars_html.mars_table_html | safe}}
    </div>
  </div>
    <div class="container-fluid">
 
        {% for hemisphere in mars_html.hemispheres_img_urls %}
        <div class="col-md-5">
        <div>{{ hemisphere.title }}</div>
        <img src= "{{ hemisphere.img_url }}" width= "200px" height="200px"class="img-thumbnail" alt="{{ hemisphere.title }}">
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>
</div>
</body>

</html>
